-
    let mainMenu = [
        ['Home', '#'],
        ['Why MISOCIAL', '#'],
        ['Features', '#'],
        ['Articles', '#'],
        ['Pricing', '#'],
    ]

mixin menu(mainMenu, colorTheme="light")
    .dark-bgc
    .navigation.flex-between.items-center.gap(class=colorTheme)
        .logo 
            a.items-center.zozula(href="index.html")
                img(src="img/Symbol.svg", alt="логотип сайту")
                span.logotext MISOCIAL
        nav.ouck.nav.flex-between.items-center
            .puckashka.flex-between.items-center
                div.burger
                    span.bord.b1
                    span.bord.b2
                    span.bord.b3
                ul.golub.pupsyk.menu(class=colorTheme)
                    for item in mainMenu
                        li.smalltextlogo
                            a.kaka(href=item[1]) #{item[0]}
                    p.cancel x
                a.gav.cta-nav(href="") get started 

-
    let cardInfo = {
        satelite: {
            img: "img/Assetfirst.svg",
            href: "#",
            personal: "personal",
            currency: "$",
            price: "0",
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btn: "select plan",
            hrefBtn: "#",
        },
        mars: {
            img: "img/Assetbetween.svg",
            href: "#",
            personal: "personal",
            currency: "$",
            price: "29",
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btn: "select plan",
            hrefBtn: "#",
        },
        rocket: {
            img: "img/Assetlast.svg",
            href: "#",
            personal: "personal",
            currency: "$",
            price: "49",
            isMonth: true,
            description: [
                "Lorem ipsum dolor sit amet.",
                "sed do eiusmod tempor incididunt ut.",
                "Labore et dolore magna aliqua.",
                "quis nostrud exercitation ullamco laboris.",
                "Ea commodo consequat.",
            ],
            btn: "select plan",
            hrefBtn: "#",
        }
    }

mixin card(oneCard)
    figure
        figcaption 
            img.imgsvg(src=oneCard.img, alt=oneCard.alt)
            p.personal #{oneCard.personal}
            p.price
                span.currency #{oneCard.currency}
                b #{oneCard.price} 
                sub.time
                    if isMonth
                        | /year
                    else 
                        | /month 
            ul.description
                for item in oneCard.description
                    li #{item}
            a.cta-nav(href=oneCard.hrefBtn) #{oneCard.btn}